.activeHome {
    position: relative;
    background-color: #A58E34;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.activeHome::after {
    position: relative;
    width: 120px;
    padding: 8px;
    margin-left: 0px;
    background-color: #A58E34;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}