<div class="flex flex-col md:flex-row w-screen h-screen bg-black overflow-auto">
    <div id="canvas-container"
        class="relative flex-grow flex items-center justify-center w-full h-1/2 md:h-full md:w-[65%] md:ml-[-35%]">
        <canvas id="canvas-box" class="w-full h-full"></canvas>
    </div>
    <div
        class="flex-shrink-0 flex-auto w-full md:w-[35%] sm:text-left flex flex-col items-center justify-center p-4 bg-black lg:mr-24 overflow-hidden z-10">
        <div class="flex flex-col w-full">
            <h1 class="text-gold p-2 pb-0 text-base md:text-2xl lg:text-3xl">
                {{ 'home.heading' | translate }}
            </h1>
            <h3 class=" p-2 pt-0 text-xs">
                {{ 'home.subheading' | translate }}
            </h3>
            <p class="p-2 text-left md:text-justify lg:text-justify text-sm md:text-base lg:text-lg">
                {{ 'home.introduction' | translate }}
            </p>
            <div class="flex flex-row-reverse w-full items-center gap-4 md:gap-6 mt-4 p-4">
                <app-button
                    class="bg-gold flex cursor-pointer shadow-xl items-center justify-center text-white font-montserrat font-bold rounded-xl p-2 md:w-32"
                    [buttonText]="'home.buttonText.about' | translate"></app-button>
                <app-button
                    class="bg-gold flex cursor-pointer shadow-xl items-center justify-center text-white font-montserrat font-bold rounded-xl p-2 md:w-32"
                    [buttonText]="'home.buttonText.contact' | translate"></app-button>
            </div>
        </div>
    </div>
</div>